<a href="https://colab.research.google.com/github/FilippMakarov/chekFM/blob/main/19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import normalize

In [30]:
data =  pd.read_csv('datasets_825452_1489843_my_submission.csv')
data.loc[5]

ObservationDate    2020-03-22
Province/State      Guangdong
Country/Region          China
Confirmed                52.0
Deaths                    0.0
Recovered                 0.0
Name: 5, dtype: object

Поиск и удаление дубликатов

In [33]:
data.duplicated(subset=['Province/State']) #поиск дубликатов в столбце Province/State

0      False
1      False
2      False
3      False
4      False
       ...
492     True
493     True
494     True
495     True
496     True
Length: 497, dtype: bool

In [31]:
df = data.drop_duplicates(subset=['Province/State']) # удаление дубликтатов по столбцу
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 0 to 371
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ObservationDate  46 non-null     object
 1   Province/State   45 non-null     object
 2   Country/Region   46 non-null     object
 3   Confirmed        46 non-null     float64
 4   Deaths           46 non-null     float64
 5   Recovered        46 non-null     float64
dtypes: float64(3), object(3)
memory usage: 2.5+ KB

In [36]:
497-371

126

Количество дубликатов в исходной таблице составило 497-371 = 126