<a href="https://colab.research.google.com/github/FilippMakarov/chekFM/blob/main/19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [166]:
import pandas as pd
from sklearn.preprocessing import normalize

In [167]:
data =  pd.read_csv('datasets_825452_1489843_my_submission.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ObservationDate  497 non-null    object
 1   Province/State   393 non-null    object
 2   Country/Region   497 non-null    object
 3   Confirmed        497 non-null    float64
 4   Deaths           497 non-null    float64
 5   Recovered        497 non-null    float64
dtypes: float64(3), object(3)
memory usage: 23.4+ KB

Поиск и удаление дубликатов

In [168]:
data.duplicated(subset=['Province/State']) #поиск дубликатов в столбце Province/State

0      False
1      False
2      False
3      False
4      False
       ...
492     True
493     True
494     True
495     True
496     True
Length: 497, dtype: bool

In [169]:
df = data.drop_duplicates(subset=['Province/State']) # удаление дубликтатов по столбцу
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 0 to 371
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ObservationDate  46 non-null     object
 1   Province/State   45 non-null     object
 2   Country/Region   46 non-null     object
 3   Confirmed        46 non-null     float64
 4   Deaths           46 non-null     float64
 5   Recovered        46 non-null     float64
dtypes: float64(3), object(3)
memory usage: 2.5+ KB

In [170]:
497-46 # Количество дубликатов в исходной таблице составило 497-46 = 451

451

Разделение объединение таблицы

In [171]:
df1 = df.iloc[:23, :] # Выберем первые 23 строчек и все столбцы
df2 = df.iloc[23:, :] # Выберем последующие строчки после 23 и все столбцы

In [172]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 22
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ObservationDate  23 non-null     object
 1   Province/State   23 non-null     object
 2   Country/Region   23 non-null     object
 3   Confirmed        23 non-null     float64
 4   Deaths           23 non-null     float64
 5   Recovered        23 non-null     float64
dtypes: float64(3), object(3)
memory usage: 1.3+ KB

In [173]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 23 to 371
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ObservationDate  23 non-null     object
 1   Province/State   22 non-null     object
 2   Country/Region   23 non-null     object
 3   Confirmed        23 non-null     float64
 4   Deaths           23 non-null     float64
 5   Recovered        23 non-null     float64
dtypes: float64(3), object(3)
memory usage: 1.3+ KB

In [174]:
result1 = pd.merge(df1, df2, on='ObservationDate', how='inner') # объеденение таблиц по способу inner
result1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 0 to 298
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ObservationDate   299 non-null    object
 1   Province/State_x  299 non-null    object
 2   Country/Region_x  299 non-null    object
 3   Confirmed_x       299 non-null    float64
 4   Deaths_x          299 non-null    float64
 5   Recovered_x       299 non-null    float64
 6   Province/State_y  276 non-null    object
 7   Country/Region_y  299 non-null    object
 8   Confirmed_y       299 non-null    float64
 9   Deaths_y          299 non-null    float64
 10  Recovered_y       299 non-null    float64
dtypes: float64(6), object(5)
memory usage: 28.0+ KB

In [175]:
result2 = pd.merge(df1, df2, on='ObservationDate', how='left') # объеденение таблиц по способу left
result2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 0 to 298
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ObservationDate   299 non-null    object
 1   Province/State_x  299 non-null    object
 2   Country/Region_x  299 non-null    object
 3   Confirmed_x       299 non-null    float64
 4   Deaths_x          299 non-null    float64
 5   Recovered_x       299 non-null    float64
 6   Province/State_y  276 non-null    object
 7   Country/Region_y  299 non-null    object
 8   Confirmed_y       299 non-null    float64
 9   Deaths_y          299 non-null    float64
 10  Recovered_y       299 non-null    float64
dtypes: float64(6), object(5)
memory usage: 28.0+ KB

In [176]:
result3 = pd.merge(df1, df2, on='ObservationDate', how='right') # объеденение таблиц по способу right
result3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 309 entries, 0 to 308
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ObservationDate   309 non-null    object
 1   Province/State_x  299 non-null    object
 2   Country/Region_x  299 non-null    object
 3   Confirmed_x       299 non-null    float64
 4   Deaths_x          299 non-null    float64
 5   Recovered_x       299 non-null    float64
 6   Province/State_y  286 non-null    object
 7   Country/Region_y  309 non-null    object
 8   Confirmed_y       309 non-null    float64
 9   Deaths_y          309 non-null    float64
 10  Recovered_y       309 non-null    float64
dtypes: float64(6), object(5)
memory usage: 29.0+ KB

In [177]:
result4 = pd.merge(df1, df2, on='ObservationDate', how='outer') # объеденение таблиц по способу outer
result4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 309 entries, 0 to 308
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ObservationDate   309 non-null    object
 1   Province/State_x  299 non-null    object
 2   Country/Region_x  299 non-null    object
 3   Confirmed_x       299 non-null    float64
 4   Deaths_x          299 non-null    float64
 5   Recovered_x       299 non-null    float64
 6   Province/State_y  286 non-null    object
 7   Country/Region_y  309 non-null    object
 8   Confirmed_y       309 non-null    float64
 9   Deaths_y          309 non-null    float64
 10  Recovered_y       309 non-null    float64
dtypes: float64(6), object(5)
memory usage: 29.0+ KB

Нормализация данных

In [178]:
datafornorm = data.iloc[:, 3:] # для нормализации создадим таблицу содержащую только лишь числа
normalized_data = normalize(datafornorm, norm='l2', axis=1)
normalized_data

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

определить процент пропусков, удалить их или заменить

In [179]:
percent = (data.isnull().sum() / len(data)) * 100 # расчёт процента пропусков
print(percent)

ObservationDate     0.000000
Province/State     20.925553
Country/Region      0.000000
Confirmed           0.000000
Deaths              0.000000
Recovered           0.000000
dtype: float64

пропусков более чем 5%, необходимо заменять пропуски на данные. Поскольку пропуски встречаются только в столбце Province/State, а заполнять этот столбик самым встречающимся словом не корректно, заполним Unknown

In [181]:
data['Province/State'] = data['Province/State'].fillna("Unknown")
data

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered
0,2020-03-22,Anhui,China,2.0,0.0,0.0
1,2020-03-22,Beijing,China,28.0,0.0,0.0
2,2020-03-22,Chongqing,China,12.0,0.0,0.0
3,2020-03-22,Fujian,China,2.0,0.0,0.0
4,2020-03-22,Gansu,China,0.0,0.0,0.0
...,...,...,...,...,...,...
492,2020-03-31,Unknown,Italy,4.0,0.0,0.0
493,2020-03-31,Unknown,Sweden,2.0,0.0,0.0
494,2020-03-31,Unknown,Russia,4.0,0.0,0.0
495,2020-03-31,Unknown,Spain,2.0,0.0,0.0
496,2020-03-31,Unknown,UK,4.0,0.0,0.0

In [182]:
percent2 = (data.isnull().sum() / len(data)) * 100 # расчёт процента пропусков проверка
print(percent2)

ObservationDate    0.0
Province/State     0.0
Country/Region     0.0
Confirmed          0.0
Deaths             0.0
Recovered          0.0
dtype: float64