<a href="https://colab.research.google.com/github/FilippMakarov/chekFM/blob/main/21hm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [123]:
import pandas as pd
from sklearn.preprocessing import normalize

**Первичный анализ данных**

In [124]:
data =  pd.read_csv('smartphone_cleaned_v5.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand_name                 980 non-null    object
 1   model                      980 non-null    object
 2   price                      980 non-null    int64
 3   rating                     879 non-null    float64
 4   has_5g                     980 non-null    bool
 5   has_nfc                    980 non-null    bool
 6   has_ir_blaster             980 non-null    bool
 7   processor_brand            960 non-null    object
 8   num_cores                  974 non-null    float64
 9   processor_speed            938 non-null    float64
 10  battery_capacity           969 non-null    float64
 11  fast_charging_available    980 non-null    int64
 12  fast_charging              769 non-null    float64
 13  ram_capacity               980 non-null    float64
 14  internal_memory            980 non-null    float64
 15  screen_size                980 non-null    float64
 16  refresh_rate               980 non-null    int64
 17  resolution                 980 non-null    object
 18  num_rear_cameras           980 non-null    int64
 19  num_front_cameras          976 non-null    float64
 20  os                         966 non-null    object
 21  primary_camera_rear        980 non-null    float64
 22  primary_camera_front       975 non-null    float64
 23  extended_memory_available  980 non-null    int64
 24  extended_upto              500 non-null    float64
dtypes: bool(3), float64(12), int64(5), object(5)
memory usage: 171.4+ KB

Столбцы имеющие пустые значения: rating, processor_brand, num_cores, processor_speed, battery_capacity, fast_charging, num_front_cameras, os, primary_camera_front,  extended_upto

In [125]:
data.describe()

,price,rating,num_cores,processor_speed,battery_capacity,fast_charging_available,fast_charging,ram_capacity,internal_memory,screen_size,refresh_rate,num_rear_cameras,num_front_cameras,primary_camera_rear,primary_camera_front,extended_memory_available,extended_upto
count,980.000000,879.000000,974.000000,938.000000,969.000000,980.000000,769.000000,980.000000,980.000000,980.000000,980.000000,980.000000,976.000000,980.000000,975.000000,980.000000,500.000000
mean,32520.504082,78.258248,7.772074,2.427217,4817.748194,0.854082,46.126138,6.560204,141.036735,6.536765,92.256122,2.814286,1.029713,50.319286,16.589128,0.630612,736.064000
std,39531.812669,7.402854,0.836845,0.464090,1009.540054,0.353205,34.277870,2.744378,107.134516,0.349162,28.988052,0.776441,0.169882,33.000968,10.876802,0.482885,366.894911
min,3499.000000,60.000000,4.000000,1.200000,1821.000000,0.000000,10.000000,1.000000,8.000000,3.540000,60.000000,1.000000,1.000000,2.000000,0.300000,0.000000,32.000000
25%,12999.000000,74.000000,8.000000,2.050000,4500.000000,1.000000,18.000000,4.000000,64.000000,6.500000,60.000000,2.000000,1.000000,24.000000,8.000000,0.000000,512.000000
50%,19994.500000,80.000000,8.000000,2.300000,5000.000000,1.000000,33.000000,6.000000,128.000000,6.580000,90.000000,3.000000,1.000000,50.000000,16.000000,1.000000,1024.000000
75%,35491.500000,84.000000,8.000000,2.840000,5000.000000,1.000000,66.000000,8.000000,128.000000,6.670000,120.000000,3.000000,1.000000,64.000000,16.000000,1.000000,1024.000000
max,650000.000000,89.000000,8.000000,3.220000,22000.000000,1.000000,240.000000,18.000000,1024.000000,8.030000,240.000000,4.000000,2.000000,200.000000,60.000000,1.000000,2048.000000

**Замена или удаление пропусков**

In [126]:
data.rating.unique()

array([89., 81., 75., 82., 80., 86., 85., 84., 79., nan, 65., 72., 76.,
       87., 88., 83., 73., 64., 68., 74., 78., 62., 66., 69., 67., 71.,
       77., 61., 60., 63., 70.])

In [127]:
data["rating"] = data["rating"].fillna(data["rating"].mean())

In [128]:
data.processor_brand.unique()

array(['snapdragon', 'exynos', 'dimensity', 'bionic', 'helio', 'unisoc',
       'tiger', nan, 'google', 'sc9863a', 'spreadtrum', 'fusion', 'kirin',
       'mediatek'], dtype=object)

In [129]:
data["processor_brand"].value_counts()

snapdragon    413
helio         201
dimensity     177
exynos         50
bionic         45
unisoc         26
tiger          24
google          9
kirin           7
spreadtrum      4
sc9863a         2
fusion          1
mediatek        1
Name: processor_brand, dtype: int64

In [130]:
data["processor_brand"] = data["processor_brand"].fillna("Unknown")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand_name                 980 non-null    object
 1   model                      980 non-null    object
 2   price                      980 non-null    int64
 3   rating                     980 non-null    float64
 4   has_5g                     980 non-null    bool
 5   has_nfc                    980 non-null    bool
 6   has_ir_blaster             980 non-null    bool
 7   processor_brand            980 non-null    object
 8   num_cores                  974 non-null    float64
 9   processor_speed            938 non-null    float64
 10  battery_capacity           969 non-null    float64
 11  fast_charging_available    980 non-null    int64
 12  fast_charging              769 non-null    float64
 13  ram_capacity               980 non-null    float64
 14  internal_memory            980 non-null    float64
 15  screen_size                980 non-null    float64
 16  refresh_rate               980 non-null    int64
 17  resolution                 980 non-null    object
 18  num_rear_cameras           980 non-null    int64
 19  num_front_cameras          976 non-null    float64
 20  os                         966 non-null    object
 21  primary_camera_rear        980 non-null    float64
 22  primary_camera_front       975 non-null    float64
 23  extended_memory_available  980 non-null    int64
 24  extended_upto              500 non-null    float64
dtypes: bool(3), float64(12), int64(5), object(5)
memory usage: 171.4+ KB

In [131]:
data.num_cores.unique()

array([ 8.,  6.,  4., nan])

In [132]:
data["num_cores"] = data["num_cores"].fillna(data["num_cores"].median())
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand_name                 980 non-null    object
 1   model                      980 non-null    object
 2   price                      980 non-null    int64
 3   rating                     980 non-null    float64
 4   has_5g                     980 non-null    bool
 5   has_nfc                    980 non-null    bool
 6   has_ir_blaster             980 non-null    bool
 7   processor_brand            980 non-null    object
 8   num_cores                  980 non-null    float64
 9   processor_speed            938 non-null    float64
 10  battery_capacity           969 non-null    float64
 11  fast_charging_available    980 non-null    int64
 12  fast_charging              769 non-null    float64
 13  ram_capacity               980 non-null    float64
 14  internal_memory            980 non-null    float64
 15  screen_size                980 non-null    float64
 16  refresh_rate               980 non-null    int64
 17  resolution                 980 non-null    object
 18  num_rear_cameras           980 non-null    int64
 19  num_front_cameras          976 non-null    float64
 20  os                         966 non-null    object
 21  primary_camera_rear        980 non-null    float64
 22  primary_camera_front       975 non-null    float64
 23  extended_memory_available  980 non-null    int64
 24  extended_upto              500 non-null    float64
dtypes: bool(3), float64(12), int64(5), object(5)
memory usage: 171.4+ KB

In [133]:
data.processor_speed.unique()

array([3.2 , 2.2 , 2.4 , 2.6 , 3.22, 2.5 , 3.  , 2.3 , 2.85, 2.  , 2.84,
        nan, 2.65, 2.9 , 2.36, 1.8 , 3.1 , 2.05, 3.05, 1.4 , 1.82, 1.6 ,
       2.8 , 1.3 , 2.73, 2.7 , 1.5 , 2.96, 2.35, 2.37, 3.13, 1.99, 2.86,
       1.95, 2.1 , 1.2 ])

In [134]:
data["processor_speed"].value_counts()

2.00    146
2.20    135
2.40    128
3.20     94
2.30     86
3.00     53
2.84     36
2.05     28
2.50     23
1.80     23
1.60     20
2.85     19
3.22     18
3.10     15
2.60     14
2.90     13
1.30     10
1.82     10
2.73      9
2.80      9
3.05      8
2.36      8
1.40      5
2.65      5
2.70      5
1.50      4
2.96      3
2.86      3
3.13      2
2.35      1
2.37      1
1.99      1
1.95      1
2.10      1
1.20      1
Name: processor_speed, dtype: int64

In [135]:
data["processor_speed"] = data["processor_speed"].fillna(data["processor_speed"].mean())
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand_name                 980 non-null    object
 1   model                      980 non-null    object
 2   price                      980 non-null    int64
 3   rating                     980 non-null    float64
 4   has_5g                     980 non-null    bool
 5   has_nfc                    980 non-null    bool
 6   has_ir_blaster             980 non-null    bool
 7   processor_brand            980 non-null    object
 8   num_cores                  980 non-null    float64
 9   processor_speed            980 non-null    float64
 10  battery_capacity           969 non-null    float64
 11  fast_charging_available    980 non-null    int64
 12  fast_charging              769 non-null    float64
 13  ram_capacity               980 non-null    float64
 14  internal_memory            980 non-null    float64
 15  screen_size                980 non-null    float64
 16  refresh_rate               980 non-null    int64
 17  resolution                 980 non-null    object
 18  num_rear_cameras           980 non-null    int64
 19  num_front_cameras          976 non-null    float64
 20  os                         966 non-null    object
 21  primary_camera_rear        980 non-null    float64
 22  primary_camera_front       975 non-null    float64
 23  extended_memory_available  980 non-null    int64
 24  extended_upto              500 non-null    float64
dtypes: bool(3), float64(12), int64(5), object(5)
memory usage: 171.4+ KB

In [136]:
data["battery_capacity"].value_counts()

5000.0    487
4500.0     97
6000.0     60
4000.0     42
4700.0     27
         ...
4730.0      1
3520.0      1
4080.0      1
5600.0      1
8000.0      1
Name: battery_capacity, Length: 89, dtype: int64

In [137]:
data["battery_capacity"] = data["battery_capacity"].fillna(data["battery_capacity"].median())

In [138]:
data.fast_charging.unique()

array([100.,  33.,  15.,  nan,  67.,  25., 120.,  80.,  18.,  45.,  10.,
        66.,  44., 210.,  30., 150.,  68.,  50.,  20.,  65., 180., 125.,
        40.,  60., 200., 240.,  19.,  21., 135., 165.,  22.,  27.,  55.])

In [139]:
data["fast_charging"].value_counts()

33.0     152
18.0     128
67.0      65
25.0      53
120.0     46
15.0      43
80.0      42
66.0      37
10.0      33
30.0      32
65.0      30
44.0      23
45.0      17
20.0      10
68.0       8
100.0      7
150.0      7
125.0      6
22.0       5
40.0       5
60.0       4
55.0       3
21.0       2
210.0      2
50.0       2
180.0      1
200.0      1
240.0      1
19.0       1
135.0      1
165.0      1
27.0       1
Name: fast_charging, dtype: int64

In [140]:
data["fast_charging"] = data["fast_charging"].fillna(data["fast_charging"].median())

In [141]:
data.num_front_cameras.unique()

array([ 1., nan,  2.])

In [142]:
data["num_front_cameras"].value_counts()

1.0    947
2.0     29
Name: num_front_cameras, dtype: int64

In [143]:
data["num_front_cameras"] = data["num_front_cameras"].fillna(1)

In [144]:
data.os.unique()

array(['android', 'ios', 'other', nan], dtype=object)

In [145]:
data["os"].value_counts()

android    909
ios         46
other       11
Name: os, dtype: int64

In [147]:
data["os"] = data["os"].fillna("other")

In [148]:
data.primary_camera_front.unique()

array([16. , 13. ,  8. , 12. , 32. ,  5. , 50. , 40. ,  nan, 10. , 60. ,
        2. ,  7. , 10.8, 20. , 44. , 11.1,  2.1, 48. ,  0.3, 24. , 25. ,
       10.7, 10.1, 12.6])

In [ ]:
data["primary_camera_front"].value_counts()

In [150]:
data["primary_camera_front"] = data["primary_camera_front"].fillna(data["primary_camera_front"].median())

In [151]:
data.extended_upto.unique()

array([  nan, 1024.,  512.,  256., 2048.,  128.,   32.,   64.])

In [152]:
data["extended_upto"].value_counts()

1024.0    263
512.0     116
256.0     100
128.0       9
2048.0      6
32.0        3
64.0        3
Name: extended_upto, dtype: int64

In [153]:
data["extended_upto"] = data["extended_upto"].fillna("Unknown") # поскольку боле 50% не заполнены, не корректно брать среднее или медианное значение

In [154]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand_name                 980 non-null    object
 1   model                      980 non-null    object
 2   price                      980 non-null    int64
 3   rating                     980 non-null    float64
 4   has_5g                     980 non-null    bool
 5   has_nfc                    980 non-null    bool
 6   has_ir_blaster             980 non-null    bool
 7   processor_brand            980 non-null    object
 8   num_cores                  980 non-null    float64
 9   processor_speed            980 non-null    float64
 10  battery_capacity           980 non-null    float64
 11  fast_charging_available    980 non-null    int64
 12  fast_charging              980 non-null    float64
 13  ram_capacity               980 non-null    float64
 14  internal_memory            980 non-null    float64
 15  screen_size                980 non-null    float64
 16  refresh_rate               980 non-null    int64
 17  resolution                 980 non-null    object
 18  num_rear_cameras           980 non-null    int64
 19  num_front_cameras          980 non-null    float64
 20  os                         980 non-null    object
 21  primary_camera_rear        980 non-null    float64
 22  primary_camera_front       980 non-null    float64
 23  extended_memory_available  980 non-null    int64
 24  extended_upto              980 non-null    object
dtypes: bool(3), float64(11), int64(5), object(6)
memory usage: 171.4+ KB

In [179]:
data.describe()

,price,rating,num_cores,processor_speed,battery_capacity,fast_charging_available,fast_charging,ram_capacity,internal_memory,screen_size,refresh_rate,num_rear_cameras,num_front_cameras,primary_camera_rear,primary_camera_front,extended_memory_available
count,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000
mean,31877.282497,78.259041,7.772774,2.428427,4788.252815,0.854657,43.331627,6.557830,140.880246,6.538352,92.293756,2.815763,1.029683,50.284442,16.585773,0.630502
std,34297.292124,6.992691,0.835653,0.453512,657.952947,0.352627,30.878307,2.738797,107.144279,0.344626,28.982200,0.775415,0.169797,32.975485,10.844601,0.482916
min,3499.000000,60.000000,4.000000,1.200000,1821.000000,0.000000,10.000000,1.000000,8.000000,3.540000,60.000000,1.000000,1.000000,2.000000,0.300000,0.000000
25%,12999.000000,75.000000,8.000000,2.050000,4500.000000,1.000000,25.000000,4.000000,64.000000,6.500000,60.000000,2.000000,1.000000,24.000000,8.000000,0.000000
50%,19990.000000,79.000000,8.000000,2.400000,5000.000000,1.000000,33.000000,6.000000,128.000000,6.580000,90.000000,3.000000,1.000000,50.000000,16.000000,1.000000
75%,35389.000000,84.000000,8.000000,2.840000,5000.000000,1.000000,65.000000,8.000000,128.000000,6.670000,120.000000,3.000000,1.000000,64.000000,16.000000,1.000000
max,480000.000000,89.000000,8.000000,3.220000,9800.000000,1.000000,240.000000,18.000000,1024.000000,8.030000,240.000000,4.000000,2.000000,200.000000,60.000000,1.000000

**Поиск и обработка выбросов и аномалий.**

In [170]:
len(data.loc[data['price'] > 600000]) # выброс по стоимости телефона.

1

In [175]:
len(data.loc[data['battery_capacity'] > 20000]) # выброс по емкости батареи

2

In [177]:
data = data.loc[data['price'] < 600000]

In [178]:
data = data.loc[data['battery_capacity'] < 20000]

**Применение группировки и агрегирующих функций**

In [182]:
data.groupby("brand_name")["price"].mean().sort_values() # средняя цена бреднов телефонов

brand_name
lyf            3940.000000
itel           5811.000000
letv           6165.666667
gionee         6896.000000
micromax       6929.333333
jio            7159.250000
ikall          7632.333333
blackview      8990.000000
tcl            8990.000000
duoqin         9990.000000
leeco         10999.000000
lava          11246.750000
tecno         14545.363636
infinix       14664.793103
blu           14990.000000
cola          14999.000000
cat           14999.000000
doogee        14999.000000
redmi         15665.666667
realme        17461.422680
poco          18479.195122
motorola      24099.923077
oukitel       24444.500000
nokia         24630.769231
vivo          26782.387387
xiaomi        27961.111940
oppo          29650.034091
honor         30301.846154
iqoo          30301.875000
nothing       31195.400000
oneplus       35858.571429
samsung       36843.030303
zte           40994.500000
google        44332.571429
nubia         49827.833333
lenovo        53494.500000
sharp         59990.000000
sony          60570.666667
lg            63329.333333
tesla         69999.000000
asus          74709.428571
huawei        80177.250000
apple         95966.521739
leitz        124990.000000
royole       129999.000000
Name: price, dtype: float64

In [181]:
data.groupby("os")["price"].max().sort_values() # максимальная цена яблок и не яблок

os
ios        182999
other      239999
android    480000
Name: price, dtype: int64